@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><strong>@TempData["Message"]</strong></p>

@using (Html.BeginForm())
{
    <div>
    <fieldset style="width:450px;">
        <legend>Customer</legend>
        <br/>
        <div style="width: 100px; float:left; margin:10px">
            @Html.ActionLink("Create New", "Create")
        </div>
        <div style="width: 300px; float:left; margin:10px">
            Search for Customer<br/>
            (First Name, Last Name, City, Telephone, Address): 
            <br />
            @Html.TextBox("txtSearch")
            <input type="submit" value="Submit" id="btnSearch" />
        </div>
        
        </fieldset>
     </div>
    
    <div id="divCust">
        
    </div>
}

@section Scripts {
    
    <script type="text/javascript">  
        $(document).ready(function () {
            $("#btnSearch").click(function (e)
            {
                var searchVal = $("#txtSearch").val();

                var divCust = $("#divCust");
                divCust.html('<strong>Retrieving Data. Please wait...</strong>');
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '/Customer/CustomerList',
                    data: { "searchVal": searchVal },
                    success: function (data) {
                        divCust.html('');
                        divCust.html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve customers.');
                    }
                });
                e.preventDefault();
            });
        });      
    </script>

}



